<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block head %} {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/jpg" href="/media/favicon.ico"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
    {% block css %} {% endblock %}
  </head>
  <body>

    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Yourkart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="/shop" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Shop
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/shop">Home</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/shop/categories">View by category</a></li>
                <li><a class="dropdown-item" href="/shop/tracker">Track your order</a></li>
                <li><a class="dropdown-item" href="/shop/checkout">Checkout</a></li>
                <li><a class="dropdown-item" href="/shop/cancelOrder">Cancel your order</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about">About Us</a>
            </li>
          </ul>
          <form class="d-flex mx-2" style="margin-right: -30px;" method="GET" action="/shop/search/">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <ul class="navbar-nav">
            <button type="button" class="btn btn-secondary mx-2" id="popcart" title="Your Cart" data-bs-container="body" data-bs-toggle="popover" data-bs-html="true" data-bs-placement="bottom">
              <img src="/media/favicon.ico" height="30px" width="30px"/>(<span id="cart-size">0</span>)
            </button>
            <button onclick="clearCart()" class="btn-primary btn" id="clearCart">Clear Cart</button>
          </ul>

        </div>
      </div>
    </nav>

    {% block body %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script>
    if(localStorage.getItem('cart') == null)
    {
    var cart={};
    }
    else{
    cart= JSON.parse(localStorage.getItem('cart'));
    updateButton(cart);
    }
    function updateButton(cart) {
      var count=0;
      for(var item in cart) {
        if(cart[item][0] != 0) {
          count = count + cart[item][0];
        }
      }
      document.getElementById('cart-size').innerHTML = count;
    }
    $(document).on("click", ".popover.close" , function(){
        $(this).parents(".popover").popover('hide');
    });
    </script>
    {% block js %} {% endblock %}
  </body>
</html>