{% extends 'layout.html' %}
{% block title %} Yourkart | CheckOut {% endblock%} 
{% block body %}

<div class="container">
  <div class="col my-4">
    <h2>Step 1 - Checkout - Review Your Cart items</h2>
    <div>
      <ul class="list-group" id=items>
      </ul>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><h5>Your total order price: <b>Rs <span id="totalPrice"></span></b></h5></li>
        </ol>
      </nav>

      
    </div>
  </div>
  <div class="col my-4">
    <h2>Step 2 - Enter Address & Other Details</h2>
    <form class="row g-3" method="POST" action="/shop/checkout/"> {% csrf_token %}
      <input type="hidden" name="itemsJson" id="itemsJson">
      <input type="hidden" name="amount" id="amount">
      <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name" id="inputName" required/>
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email" id="inputEmail4" required/>
      </div>
      <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone number</label>
        <input type="tel" class="form-control" placeholder="Phone number" name="phone" id="inputPhone" required/>
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address line 1</label>
        <input type="text" class="form-control" id="inputAddress" name="add1" placeholder="Address line 1" required/>
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address line 2(Optional)</label>
        <input type="text" class="form-control" id="inputAddress2" name="add2" placeholder="Address line 2" />
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity" name="city" placeholder="City" required/>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <input type="text" class="form-control" id="inputState" name="state" placeholder="State" required/>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip" name="zip_code" placeholder="Zip code" required/>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Place Order</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}

<script>
  var totalPrice = 0;
  if ($.isEmptyObject(cart)) {
    liStr = `<p>Your cart is empty, please add some objects before checking out.</p>`
    $('#items').append(liStr);
  }
  for(item in cart) {
    var name = cart[item][1];
    var qty = cart[item][0];
    var price = cart[item][2];

    totalPrice += price;
    liStr = `<li class="list-group-item d-flex justify-content-between align-items-center">
          ${name}
          <span class="badge bg-primary rounded-pill">${qty}</span>
        </li>`
    $('#items').append(liStr);
  }
  document.getElementById('totalPrice').innerHTML = totalPrice;
  updatePopover(cart);

  function clearCart() {
    cart = JSON.parse(localStorage.getItem('cart'));
    localStorage.clear();
    cart = {};
    updateCart(cart);
    document.location = '/shop/checkout'
  }
  function updatePopover(cart) {
    var popStr = "";
    popStr = popStr + "<div class='mx-2 my-2'>";
    var i=1;
    for(var item in cart) {
      if(cart[item][0] != 0) {
        popStr = popStr + "<b>" + i + "</b>. ";
        popStr = popStr + cart[item][1].slice(0, 19) + "... QTY: " + cart[item][0] + "<br>";
        i = i+1;
      }
    }
    popStr = popStr + "</div>"
    document.getElementById('popcart').setAttribute('data-bs-content', popStr);
    $(document).ready(function(){
      $('[data-bs-toggle="popover"]').popover('show');
    });
  }
  function updateCart(cart) {
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart-size').innerHTML = Object.keys(cart).length;
    updatePopover(cart);
    updateButton(cart);
  }
  $('#itemsJson').val(JSON.stringify(cart));
  {% if thank %}
    alert("Thanks for ordering with us. Your order id is {{id}}. Use it to track your order using our order tracker")
    localStorage.clear();
    document.location="/shop";
  {%endif%}
  $('#amount').val($('#totalPrice').html())
</script>

{% endblock %}